 /* Estilos básicos para el hero y el footer */
        .hero-section {
            background-color: #f8f9fa; 
            padding: 80px 0;
            text-align: center;
        }
        .section-confianza {
            background-color: #f8f9fa; 
            padding: 60px 0;
        }
        .brand-logo-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 20px; 
        }
        .brand-logo-container img {
            max-width: 150px; 
            height: auto;
            border: 1px solid #ddd;
            padding: 10px;
            border-radius: 5px;
        }
        .footer {
            background-color: #068BBF; /* Color oscuro para el footer */
            color: white;
            padding: 40px 0;
            text-align: center;

        }
        
    .bg-light {
        background-color: #aac0d4 !important; 
        padding: 0px;
     }
      .logo-container img {
    width: 200px; 
    height: 100px;
    padding: 10px;
     }
    #logo-facebook {
    width: 40px;
    height: auto;
}

#logo-instagram {
    width: 45px;
    height: auto;
}

#logo-whatsapp {
    width: 40px;
    height: auto;
}

.logo {
    width: 150px; 
    height: auto; 
    max-height: 80px; 
}
    </style>